@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
}

:root {
  --bg-color: linear-gradient(to right, #f857a6, #ff5858);
  --button-color: #ff1493;
  --border-color: #eee;
}