.Votes {
  padding: 20px;
}

.Votes h2 {
  font-family: "Caveat", cursive;
}

.Votes button {
  background-color: #0e3c7e;
  border: none;
  padding: 5px;
  color: white;
  border-radius: 2px;
  margin: 5px;
}

.Votes .bar {
  height: 20px;
  width: 100px;
}

.Votes .vote-info {
  margin-top: 10px;
}

.Votes .chocolate {
  background-color: rgb(94, 47, 28);
}

.Votes .vanilla {
  background-color: burlywood;
}

.Votes .strawberry {
  background-color: palevioletred;
}
